@import "~antd/dist/antd.css";

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.ant-btn {
  margin-right: 8px;
}

.ant-picker,
.ant-input-number {
  width: 100%;
}
